<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <title>Simple Map</title>
    <link rel="stylesheet" href="https://js.arcgis.com/3.37/esri/css/esri.css">
    <style>
      html, body, #map {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://js.arcgis.com/3.37/"></script>
    <script>
        var url =decodeURIComponent(window.location.search.substring(1));
        var qarray = url.split('&');
        var parr = qarray[0].split("=");
        var initGraphics = parr[1]
        var map;

        require(["esri/map", "esri/graphic", "esri/layers/GraphicsLayer", "dojo/domReady!"], function(Map, Graphic, GraphicsLayer) {
            map = new Map("map", {
            basemap: "streets",  //For full list of pre-defined basemaps, navigate to http://arcg.is/1JVo6Wd
            center: [3.955, 59.338],
            zoom: 3
            });

            glayer = new GraphicsLayer();
            map.addLayer(glayer);

            JSON.parse(initGraphics).forEach(function(featureJson){
                var ng = new Graphic(featureJson);
                glayer.add(ng);
            });
            
        });
    </script>
  </head>

  <body>
    <div id="map"></div>
  </body>
</html>
